<%= form_tag sessions_path do %>
  <div class='topics'>
    <%= label_tag "Username" %>
    <%= text_field_tag :username, nil, placeholder: "username" %>
  </div>
  <div class='topics'>
    <%= label_tag "Password" %>
    <%= password_field_tag :password, nil, placeholder: "password" %>
  </div>
  <%= submit_tag "Log In" %>
<% end %>