<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this submission from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <h1><%= f.label :username %></h1>
  <h1><%= f.text_field :username %></h1>

  <h1><%= f.label 'Add topics to User:' %></h1>
  <div class='topics'><%= f.collection_check_boxes(:topic_ids, Topic.all, :id, :name)%></div>

  <h1><%= f.submit %></h1>

<% end %>