<% @user.posts.each do |p| %>
    <h1><%= p.title %><br></h1>
    <div class='author'><%= p.user.username %></div>
    <div class='content'><%= p.content %></div>
    <div class='topics'>
    <% p.topics.each do |t| %>
        <i><%= link_to t.name, topic_path(t) %></i>
    <% end %>
    </div>
    <hr>
<% end %>


<% @user.topics.each do |t| %>
    <h2><i><%= link_to t.name, topic_path(t) %></i></h2>
    <%t.posts.each do |p| %>
        <%= link_to p.title, post_path(p) %>
        <h3 class='author'><%= p.user.username %></h3>
        <div class='content'><%= p.content %></div>
    <% end %>
<% end %>