<h1><%= "#{@user.username}'s Feed" %></h1>
<% @posts.each do |p| %>
    <h1><%= p.title %><br></h1>
    <div class='author'><%= p.user.username %></div>
    <div class='content'><%= p.content %></div>
    <div class='topics'>
    <% p.topics.each do |t| %>
        <i><%= link_to t.name, topic_path(t) %></i>
    <% end %>
    </div>
    <hr>
<% end %>


