<%= form_for(@user)  do |f| %>

  <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this submission from being saved:</h3>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <h1><%= f.label :username %></h1>
  <h1><%= f.text_field :username %></h1>

  <h1><%= f.label :password %></h1>
  <h1><%= f.password_field :password, placeholder: "password" %></h1>
  <br>
  <h1><%= f.label :password_confirmation %></h1>
  <h1><%= f.password_field :password_confirmation, placeholder: "confirm password" %></h1>
  <br>
  
  <h1><%= f.submit "create account" %></h1>

<% end %>