<% if logged_in? && (@post.user_id == session[:user_id]) %>
    <%= form_for @post do |f| %>
        <div><h1><%= f.label "Post Title" %></h1></div>
        <h1><%= f.text_field :title, style: 'width: 33%; text-align: center;' %></h1>
        <br>
        <div class='topics'>
            <div><%= f.label "Post Content" %></div>
            <div><%= f.text_area :content, style: 'width: 100%;', rows: '10' %></div>
        </div>
        <br>
        <h1><%= f.submit %></h1>
    <% end %>
<% else %>
    <div>
        <h1>Denied Access</h1>
    </div>
    <div class='topics'>
        <%= link_to "Back to post", post_path(@post) %>
    </div>
<% end %>
<h1><%= link_to "Back to Post", post_path(@post) %></h1>