<%= form_for @post do |f| %>
    <div class='title'><%= f.label "Post Title" %></div>
    <%= f.text_field :title %>
    <br>
    <%= f.label "Post Content" %>
    <%= f.text_field :content %>
    <br>
    <h1><%= f.label 'Add topics to Post:' %></h1>
    <div class='topics'><%= f.collection_check_boxes(:topic_ids, Topic.all, :id, :name)%></div>
    <%= f.submit %>
<% end %>