<h1><div class='site-name'>Lightweight Forum</div></h1>

<% if logged_in? %>
    <div class='nav-bar'><%= link_to '> New Post', controller: 'posts', action: 'new'%></div>
<% else %>
    <div class='nav-bar'><%= link_to '> Login', login_path, method: :get %> | <%= link_to "Sign Up <", new_user_path %></div>
<% end %>

<% @posts.each do |post| %>
    <h1><%= link_to post.title, post_path(post) %></h1>
    <div class='author'>
        <%= post.user.username %>
    </div>
    <div class='content'>
        <%= post.content %><br>
    </div>
    <div class='topics'>
        <% post.topics.each do |t| %>
            <i><%= link_to t.name, topic_path(t) %>
        <% end %>
    </div>
    <div class='comments'>
        <%= link_to 'Comments', post_path(post)%>
    </div>
    <hr>
<% end %>